@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Catálogo de Produtos</h2>
    <img src="https://th.bing.com/th/id/R.2c9c482953bc53a05807caf074cebb55?rik=7z7i6lZ9J2lNKg&riu=http%3a%2f%2fanselmosantana.com.br%2fwp-content%2fuploads%2f2018%2f06%2fIMG-20180522-WA0013-1.jpg&ehk=aOYyIdZ%2bmZkzW2IcvFoi0s3%2ffL89U6HLZ%2fsfQSnpGpg%3d&risl=&pid=ImgRaw&r=0">
</div>
